@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0508b9;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(182, 206, 229);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);

}

*{
    font-family:'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor-light);
}

body{
    background-color: var(--mainBgColor-light);
}

p, span, li{
    color: var(--secondaryTextColor-light);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor-light);
    font-size: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 44em;
    margin: 0 auto;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
    align-content: center;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#wrapper--hero a{
    transition: 0.3s;
}

#wrapper--hero a:hover{
    color: red;
}

#user-name{
    font-size: 3em;
    line-height: 1em;
    text-align: justify;
}

#bio, a{
    font-weight: 300;
    font-size: large;
    align-self: center;
}

#profile-pic{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

#email{
    color: var(--mainTextColor-light);
}

#socials--list{
    display: flex;
    justify-content:space-around;
    padding-left: 3em;
    padding-right: 3em;
    column-gap: 5em;
    flex-wrap: wrap;
    font-size: larger;
}

#socials--list a{
    font-size: 0.9em;
    color: var(--mainLinkColor-light);
    transition: 0.3s;
}

#socials--list a:hover{
    color: crimson;
}

#wrapper--skillstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
    justify-content:space-between;
}

.card--skillstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

#qualifications--list{
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style:square;
}

.card--project{
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 1em;
}

.card--project p:nth-child(1){
    font-weight: bold;
}

#wrapper--project a:hover{
    color: rgb(45, 231, 7);
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--accompli{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--edu{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-top: 1px solid var(--mainBorderColor);
    border-bottom: 1px solid var(--mainBorderColor);
    border-left: 1px solid var(--mainBorderColor);
    border-right: 1px solid var(--mainBorderColor);
}

.card--cert{
    margin-top: 2em;
    padding-left: 1em;
}

#wrapper--lang__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
    justify-content:start;
}

.card--skillstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
} 

#exa--list{
    list-style: square;
}

#hob--list{
    list-style: none;
}

.card--project p:nth-child(1){
    font-weight: bold;
}

.box-1, .box-2, .box-3, .box-4{
    width: 560px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.box-container{
    display:flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    padding: 0.5em 0.5em;
    align-self: center;
    
    gap: 1em;

}

.box-1{
    background-image: url("../assets/images/bb.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.box-2{
    background-image: url("../assets/images/simmba.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.box-3{
    background-image: url("../assets/images/PP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.box-4{
    background-image: url("../assets/images/BLS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 200px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.box-1 img {
    width: 100%;
    height: auto;
  }

  .box-2 img {
    width: 100%;
    height: auto;
  }
.box-3 img {
    width: 100%;
    height: auto;
  }

  .box-4 img {
    width: 100%;
    height: auto;
  }

@media(max-width:700px){
    #wrapper--hero{
        flex-direction: column;
        gap: 1 em;
    }

    #profile-pic{
        width: 250px;
        height: 250px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card--work-history{
        border-left: none;
        padding: 1;
    }
    .box-container{
        top: 0px;
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        background-size: auto;
        align-self: center
       
    }
    .box-1, .box-2, .box-3, .box-4{
        width: 350px;
        height: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        padding: 0%;
        padding-left: 0%;     
    }
}
